:root {
    /* LIGHT */
    --background: #FFC300;
    --text: #252627;
    --primary: #121212;
    --secondary: #F5F5F5;
    --accent: #121212;

    /* DARK: Coming Soon */
    --heading2-size: clamp(2rem, 3.5vw + 1rem, 4rem);
    --text-size: clamp(1.125rem, 0.5vw + 1rem, 1.625rem);
    --inline-padding: clamp(1rem, 4vw, 5rem);
    --max-content-width: 1200px;
    interpolate-size: allow-keywords;
    
    --text-font: "Sora"
}

h2 {
    font-family: var(--text-font), sans-serif;
    font-weight: medium;
    font-style: normal;
    color: var(--text);
    font-size: var(--heading2-size);
    margin: 10px 0px;

}

p, ul {
    font-family: var(--text-font), sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--text);
    font-size: var(--text-size);
}


body { 
    background-color: var(--background);
}

.layout-container {
    width: 100%;
    max-width: var(--max-content-width);
    margin-inline: auto;
    padding-inline: var(--inline-padding);
}

/* Ensuring each section consumes the entire viewport */
.full-section {
    height: 100vh; 
    width: 100%;
    padding-inline: var(--inline-padding);
}

/* Navigation Bar */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1.5rem;
    border-bottom: 5px solid var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.3s ease-in-out;
}

nav.nav-hidden {
    top: -100px;
}

nav a {
    font-family: var(--text-font), sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: var(--text-size);
    color: var(--text);
    text-decoration: none;
    padding: 0.5rem, 0.5rem, 0.5rem, 1.5rem;
}



/* === TITLE SECTION == */

.title {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    overflow: hidden;
    text-align: center; 
}

.title h1 {
    font-family: "Space Grotesk", sans-serif;
    font-weight: 700;
    font-size: clamp(2rem, 4vw + 1rem, 6.5rem);
    text-shadow: 3px 3px 0px var(--secondary-dark);
    color: var(--text);
    
    margin: 0;
    padding: 10px;
    line-height: 1.1; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 1rem; 
}

.title h1 div {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1.2;
}

.title p {
    margin: 0; 
    padding: 0;
    display: block; 
}

.title .subtitle {
    margin-top: 30px; 
    font-size: clamp(1.1rem, 1.5vw + 0.5rem, 1.75rem);
}

.title .subtitle.small {
    margin-top: 30px; 
    font-size: clamp(0.85rem, 0.8vw + 0.5rem, 1.1rem);
}

.rotate { 
    display: inline-block;
}
.deg1 { transform: rotate(2.9deg); }

.deg2 { transform: rotate(-4.7deg); }

#show-first {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(1.5rem, 3vw, 3rem);
    white-space: nowrap;
    
    animation: fadeOutAfter 3s ease-in-out forwards;
}

/* arrow animation MAKE SURE TO DISABLE VIA COMMENTING WHEN DEVELOPING OTHER AREAS! */

/* #show-first {
    opacity: 0;
}

.show-second, .arrow {
    opacity: 0;
}

@keyframes fadeOutAfter {
    0% { opacity: 0; }
    15% { opacity: 1; }
    85% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeInStay {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

#show-first {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(1.5rem, 3vw, 3rem);
    white-space: nowrap;
    
    animation: fadeOutAfter 3s ease-in-out forwards;
}

.show-second, .arrow { 
    animation: fadeInStay 1s ease-in-out 3s forwards; 
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    animation: allowScroll 3s forwards;
}

@keyframes allowScroll {
    0% { 
        overflow-y: hidden; 
    }
    99% { 
        overflow-y: hidden; 
    }
    100% { 
        overflow-y: auto;
    }
} */

/* Arrow animation */
.arrow {
    transform: rotate(45deg);
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid var(--accent);
    border-right: 5px solid var(--accent);
    transform: rotate(0deg);
    animation: animate 2s infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(0deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(0deg) translate(20px, 20px);
    }
}

/* === SECTION 2: WHO AM I? === */
.my-identity {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

.card-container {
    height: 90%;
    overflow: visible;
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    height: 100%;
    width: 100%;
    transition: transform 900ms;
    transform-style: preserve-3d;
    cursor: pointer;
    /* transform: rotateY(180deg); */
}

.card:hover {
    border-radius: 2rem;
    box-shadow: 5px 5px 0px 0px #000;
}

.card.is-flipped {
    transform: rotateY(-180deg);
}

.card-front, .card-back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    /* box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25); */
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    overflow: hidden;
}

.card-front {
    background-color: var(--background);
    background-blend-mode: overlay;
    border: 5px solid var(--accent);
    background: linear-gradient(rgba(1, 1, 4, 0.0), rgba(1, 1, 4, 0.5)), url(images/who-i-am-bg.jpg);
    background-position: 50% 50%;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card-back {
    background-color: var(--secondary);
    border: 5px solid var(--accent);
    transform: rotateY(180deg);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 16px;
    align-items: start;
}

.card-front-text {
    color: white;
}

.card-front-title {
    color: white;
}

@keyframes pulseLoop {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* SECTION 3: MORAL COMPASS */
details {
    font-family: Inter;
    font-size: var(--text-size);
    padding: 10px;
}

summary {
    font-weight: bold;
}

details::details-content {
    height: 0;
    overflow: clip;
    transition: height 0.3s ease, content-visibility 0.3s ease allow-discrete;
}

details[open]::details-content {
    height: auto;
}

/* SECTION 4 & 5 */

#that-one-experience, #ethical-dilemma {
    background-color: var(--primary-dark);
    padding: 30px;
    border: 5px solid;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#that-one-experience h2, #ethical-dilemma h2 {
    margin: 0;
}

#that-one-experience span, #ethical-dilemma span {
    font-weight: 700;
}

.img-container {
    height: 200px;
    border-top: 5px solid;
    border-bottom: 5px solid;
    margin-left: -30px;
    margin-right: -30px;
    background-image: url(images/that-one-experience-bg.png);
    background-size: cover;
    background-position: start;
    background-repeat: no-repeat;
}

.slides-container {
    overflow: hidden; 
    width: 100%;
    position: relative;
}

.slides-track {
    display: flex;
    transition: transform 0.3s ease-in-out; 
    width: 100%;
}

.slide {
    flex: 0 0 100%;
    width: 100%;
}

.slide p {
    margin: 0;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0;
}

.prevBtn, .nextBtn {
    background-color: var(--background);
    font-family: var(--text-font), sans-serif;
    color: var(--text);
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: 5px solid var(--text);
    transition: all 0.3s ease;
    margin: 0;
}

.prevBtn:hover, .nextBtn:hover {
    background-color: var(--accent);
    color: var(--background)
}
